{% extends 'base.html' %}
{% import 'projects/projects.jinja' as projects %}

{% block body %}
{% call projects.page_body() %}

{{ projects.hero(title = title, subtitle = subtitle, tags = tags, date = date, mod_date = mod_date, img_link = img_link) }}

{% call projects.section(header = "Overview") %}
<p class="text-lg text-left">WORK IN PROGRESS. I've been keeping more and more personal biometric data as I figure out what I care about and what maybe I should care about. I've had a heart rate tracking watch of some sort for years now. I've been tracking my weight daily for almost a year. And as of 2025 I'm keeping track of everything I eat as well. All that data deserves a good pipeline so I'm taking the chance to apply all my newfound knowledge of AWS SAM and Glue (from studying for all these AWS exams) and create a serverless ETL pipeline.</p>
{% endcall %}
{% endcall %}
{% endblock %}