{% extends 'base.html' %}
{% import 'projects/projects.jinja' as projects %}

{% block head %}
<title>{{ title }}</title>
<meta name="description" content="{{ subtitle }}" />
{% endblock %}

{% block body %}
{% call projects.page_body() %}

{{ projects.hero(title = title, subtitle = subtitle, tags = tags, date = date, mod_date = mod_date, img_link = img_link) }}

{% call projects.section(header = "Overview") %}
<p class="text-lg text-left">It's my website! I've spent a lot of time working on this, evolving it into the thing you see now. Not all of it is pretty, there are ideas and remnants of ideas that should definitely be cleaned up (and I am working on cleaning them up all the time). But I'm proud of it and I like working on it. Hopefully you like it and find what you came here looking for. :)</p>
{% endcall %}

{% call projects.section(header = "Dev") %}
<p class="text-lg text-left">Built with Flask, stylized with Tailwind CSS, and deployed "serverlessly" on AWS with Zappa. It began as a PHP-based site using Laravel and running on an EC2 instance. From there it progressed to being a collection of statically sourced HTML pages from an S3 bucket. And then to it's current incarnation. There are absolutely no fun easter-eggs so don't bother looking.</p><br />

<div class="flex flex-wrap">
    <a href="https://github.com/Ulthran/ctbus_site/actions/workflows/main.yml" class="py-1 px-1">
        <img src="https://github.com/Ulthran/ctbus_site/actions/workflows/main.yml/badge.svg" alt="CI/CD"/>
    </a>
    <a href="https://www.mend.io/renovate/" class="py-1 px-1">
        <img src="https://img.shields.io/badge/renovate-enabled-brightgreen.svg" alt="Renovate" />
    </a>
    <a href="https://app.codacy.com/gh/Ulthran/ctbus_site/dashboard?utm_source=gh&utm_medium=referral&utm_content=&utm_campaign=Badge_grade" class="py-1 px-1">
        <img src="https://app.codacy.com/project/badge/Grade/07edb64af1c544439190dff82571e7a5" alt="Codacy" />
    </a>
    <a href="https://snyk.io/test/github/Ulthran/ctbus_site" class="py-1 px-1">
        <img src="https://snyk.io/test/github/Ulthran/ctbus_site/badge.svg" alt="Snyk" />
    </a>
</div>
{% endcall %}

{% call projects.section(header = "Links") %}
<div class="flex flex-wrap items-center justify-around p-5 md:mx-10">
    <a href="https://charliebushman.com" target="_blank" class="text-white" title="My Site">
        {{ svgs.web(class="w-12 h-12") }}
    </a>
    <a href="https://github.com/Ulthran/ctbus_site" target="_blank" title="GitHub Repo">
        {{ svgs.github(class="w-12 h-12") }}
    </a>
</div>
{% endcall %}
{% endcall %}
{% endblock %}