{% extends 'base.html' %}
{% import 'projects/projects.jinja' as projects %}

{% block head %}
<title>{{ title }}</title>
<meta name="description" content="{{ subtitle }}" />
{% endblock %}

{% block body %}
{% call projects.page_body() %}

{{ projects.hero(title = title, subtitle = subtitle, tags = tags, date = date, mod_date = mod_date, img_link = img_link) }}

{% call projects.section(header = "Overview") %}
<p class="text-lg text-left">Just a minimal example of using Python and SQL for some personal data management. Sometimes you just don't need to go any fancier.</p>
{% endcall %}

{% call projects.section(header = "Dev") %}
<p class="text-lg text-left">The data model is built using SQLAlchemy. Pandas for ingesting data from CSVs and Yahoo finance for hydrating market values. SQLite for the database.</p><br />
{% endcall %}

{% call projects.section(header = "Links") %}
<div class="flex flex-wrap items-center justify-around p-5 md:mx-10">
    <a href="{{ url_for('blog', post='ctbus-finance') }}" target="_blank" class="text-white" title="Blog Post">
        {{ svgs.web(class="w-12 h-12") }}
    </a>
    <a href="https://github.com/Ulthran/ctbus_finance" target="_blank" title="GitHub Repo">
        {{ svgs.github(class="w-12 h-12") }}
    </a>
</div>
{% endcall %}
{% endcall %}
{% endblock %}