{% extends 'base.html' %}
{% import 'macros.jinja' as macros %}

{% block body %}
{% call macros.hero(title = "Ultimate DiscTracker", subtitle = "Posted: 09/13/24. Last Updated: 09/13/24.") %}{% endcall %}

<div class="container mx-auto flex-1 mt-8 md:p-4 p-2 text-center md:w-1/2">
    <p class="text-lg text-left"></p>

    <div class="flex flex-wrap items-center justify-between p-5 md:mx-10">
        <a href="https://ultimatedisctracker.com" target="_blank" class="text-white" title="Ultimate DiscTracker">
            {{ svgs.frisbee(class="w-12 h-12") }}
        </a>
    </div>

    <h3 class="text-xl font-bold my-4">Intro</h3>

    <p class="text-lg text-left"></p>
</div>

{% endblock %}