{% extends 'base.html' %}
{% import 'projects/projects.jinja' as projects %}

{% block head %}
<title>{{ title }}</title>
<meta name="description" content="{{ subtitle }}" />
{% endblock %}

{% block body %}
{% call projects.page_body() %}

{{ projects.hero(title = title, subtitle = subtitle, tags = tags, date = date, mod_date = mod_date, img_link = img_link) }}

{% call projects.section(header = "Overview") %}
<p class="text-lg text-left">I had originally created a few Spotify stats graphs on this website as a fun project but the code behind it was messy and the display was mediocre. So I created a new AWS SAM application with a Python runtime using Dash to serve the frontend. Unfortunately, Spotify just (late 2024) removed a lot of public access for interesting things like song audio features, so pretty much all that's left to show is a popularity score per song per playlist. Try it out yourself and let me know what you think!</p>
{% endcall %}

{% call projects.section(header = "Links") %}
<div class="flex flex-wrap items-center justify-around p-5 md:mx-10">
    <a href="https://0qn7o9e6pd.execute-api.us-east-1.amazonaws.com/Prod/" target="_blank" class="text-white" title="Spotify Vis Site">
        {{ svgs.web(class="w-12 h-12") }}
    </a>
    <a href="https://github.com/Ulthran/spotify_vis" target="_blank" title="GitHub Repo">
        {{ svgs.github(class="w-12 h-12") }}
    </a>
</div>
{% endcall %}
{% endcall %}
{% endblock %}