{% extends 'base.html' %}
{% import 'blog/blog.jinja' as blog %}

{% block head %}
<title>{{ title }}</title>
<meta name="description" content="{{ subtitle }}" />
{% endblock %}

{% block body %}
{% call blog.post_body() %}

{{ blog.hero(title = title, subtitle = subtitle, tags = tags, date = date, mod_date = mod_date, img_link = img_link) }}

{% call blog.section(header = "Background") %}
<p class="text-lg text-left">Up until recently, I had a (janky) Spotify stats visualizer on this site that I had implemented with Flask handling the backend and a simple JavaScript frontend. It wasn't particularly well organized code, especially on the frontend and I wanted to move it to a separate repository. So with the dual goals of trying to offload this bad code and get more practice with AWS SAM, I set about implementing a super simple serverless dashboard.</p>

<p class="text-lg text-left">The finished GitHub repository can be found <a class="underline" href="https://github.com/Ulthran/spotify_vis" target="_blank">here</a> and the live site <a class="underline" href="https://0qn7o9e6pd.execute-api.us-east-1.amazonaws.com/Prod/" target="_blank">here</a>.</p>
{% endcall %}

{% call blog.section(header = "") %}
<p class="text-lg text-left"></p>
{% endcall %}

{% call blog.section(header = "") %}
<p class="text-lg text-left"></p>
{% endcall %}

{% call blog.section(header = "Future Work") %}
<p class="text-lg text-left">Unfortunately, Spotify recently removed public access to most of the fun stats they keep on a per-song basis. Things like tempo, key, "danceability," and "speechiness" are now too valuable for training the Recommendation Algorithm to expose leaving my dashboard with little to show beyond popularity and playtimes. Still, from a technical perspective, there is a major improvement to be made, which you'll probably notice if you visit the site: the initial page load time is super slow. This should be a relatively simple fix, as SAM provides tooling for keeping functions warm!</p>

<p class="text-lg text-left">Expect another blog post soon about a similarly simple serverless data dashboard, this time implemented with Streamlit!</p>
{% endcall %}
{% endcall %}
{% endblock %}