.project-container {
    display: flex;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}
.title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}
.overview {
}
.link {
    text-decoration: underline;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}