{% extends 'base.html' %}

{% block head %}
<script src='https://cdn.plot.ly/plotly-2.26.0.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>

<script src="{{ url_for('static', filename='js/Lorenz.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Hero Section -->
<div class="container mx-auto flex-1 mt-8 md:p-4 p-2 text-center md:w-1/2">
    <h1 class="text-4xl font-bold mb-2">COMPS: Physical reservoir computing for classification of temporal data</h1>
    <p class="text-lg">My undergraduate thesis project on physical reservoir computing models. In the paper I introduce the reservoir computing framework, necessary grounding in ML, the characteristics of good physical reservoirs, and a few case studies: mechanical, electronic, and quantum. While this is still a relatively new field, the potential for chaotic systems prediction, smart physical sensors and more is potentially revolutionary across a wide range of sciences and industries. I also gave a talk that mimics the structure of the paper.</p>
    <div id='Lorenz'><!-- Plotly chart will be drawn inside this DIV --></div>
</div>
{% endblock %}
