<!DOCTYPE html>
<html lang="en">

{% import 'svgs.jinja' as svgs %}
{% import 'macros.jinja' as macros %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Flowbite CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Include Tailwind CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" integrity="sha384-HtMZLkYo+pR5/u7zCzXxMJP6QoNnQJt1qkHM0EaOPvGDIzaVZbmYr/TlvUZ/sKAg" crossorigin="anonymous">

    {% block head %}{% endblock %}
</head>

<body class="bg-gray-100 text-gray-800 font-sans min-h-screen flex flex-col">
    <!-- All SVG icons are taken from or modified from SVG Repo (https://www.svgrepo.com/) unless otherwise noted -->

    <!-- Include Flowbite JS -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

    <!-- Navigation Bar -->
    <nav class="bg-gray-700 p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex space-x-4">
                <a href="{{ url_for('index') }}" class="font-bold text-lg" title="Home">
                    {{ svgs.home(class="w-12 h-12") }}
                </a>
                <a href="{{ url_for('about') }}" class="font-bold text-lg flex items-center" title="About Me">
                    {{ svgs.about() }}
                </a>
                <div class="w-12"></div>
                <div class="w-12"></div>
            </div>

            {% if header_post is defined %}
            <div class="flex space-x-4 items-center md:block hidden">
                <a href="{{ url_for('blog', post=header_post_key) }}" class="font-bold text-lg" title="{{  header_post.title }}">
                    <div class="container flex flex-row">
                        <img src="{{ header_img_link }}" class="w-12 h-16 rounded-l-lg" alt="Blog Icon" />
                        <div class="flex flex-col justify-center ml-4 overflow-x-auto">
                            <h1 class="text-lg font-bold mb-1">{{ header_post.title }}</h1>
                            <p class="text-sm italic">
                                {{ header_post.subtitle[:50] + '...' if header_post.subtitle|length > 50 else header_post.subtitle }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}

            <div class="flex space-x-4">
                <a href="{{ url_for('session_info') }}" class="font-bold text-lg" title="Your Data">
                    {{ svgs.data(class="w-8 h-8") }}
                </a>
                <!-- Resume Download -->
                <a href="{{ cdn_url }}/documents/resume.pdf" target="_blank" class="text-white" title="Download R&eacute;sum&eacute;">
                    {{ svgs.download_file(class="w-8 h-8") }}
                </a>
                <!-- GitHub Link -->
                <a href="https://github.com/Ulthran" target="_blank" class="text-white" title="GitHub">
                    {{ svgs.github(class="w-8 h-8") }}
                </a>
                <!-- LinkedIn Link -->
                <a href="https://www.linkedin.com/in/charlie-bushman-8b0b59128/" target="_blank" class="text-white" title="LinkedIn">
                    {{ svgs.linkedin(class="w-8 h-8") }}
                </a>
            </div>
        </div>
    </nav>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <div class="flex-grow"></div> <!-- This div will take up remaining vertical space -->
    <footer class="bg-gray-300 text-gray-700 text-center py-2">
        <div class="container mx-auto">
            <p>{{ "Always Learning. Always Building. " + third_attr + "." }}</p>
            <p>&copy; 2025 Charlie Bushman. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>