{% extends 'base.html' %}
{% import 'macros.jinja' as macros %}
{% import 'svgs.jinja' as svgs %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.30.4/cytoscape.min.js" integrity="sha512-xpXUCbrkyJCwC5noJXZqec9rSXdRgFfDoL7Q9/pCPe54Y04OlqwPobMcNuA5NPJ7DRR51OIr6xcOH2wUspyKDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block body %}
{% call macros.hero(title = "Certifications and Certificates", subtitle="") %}

<div class="flex flex-row justify-center items-center">
    <a href="https://www.credly.com/badges/bcecce87-e9f9-4f05-a068-40eeb7474731/public_url" target="_blank">
        <img src="{{ cdn_url }}/certificates/aws_certified_cloud_practitioner.png" alt="AWS Certified Cloud Practitioner - Foundational" class="p-4" height="200px" width="200px" />
    </a>
    <a href="https://www.credly.com/badges/a5cc21ee-a95c-4ba8-9a04-9f1f7e4928bf/public_url" target="_blank">
        <img src="{{ cdn_url }}/certificates/aws_certified_ai_practitioner_early_adopter.png" alt="AWS Certified AI Practitioner" class="p-4" height="240px" width="240px" />
    </a>
    <a href="https://www.credly.com/badges/c6ee2c89-f5d2-46df-826e-b2246435709f/public_url" target="_blank">
        <img src="{{ cdn_url }}/certificates/aws_certified_developer_associate.png" alt="AWS Certified Developer - Associate" class="p-4" height="200px" width="200px" />
    </a>
    <a href="https://www.credly.com/badges/23e89c9d-02de-49e3-9634-a21816ea29b2/public_url" target="_blank">
        <img src="{{ cdn_url }}/certificates/ibm_data_engineering_badge.png" alt="IBM Data Engineering Specialization" class="p-4" height="175px" width="175px" />
    </a>
</div>

<h2 class="text-3xl font-bold mb-6">Extra Learning and Practice</h2>

<h3 class="text-2xl font-bold my-4">AWS SkillBuilder</h3>

<div class="container flex flex-wrap mx-auto md:w-1/2 p-4 justify-center items-center">
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_security_compliance_governance_for_ai.pdf" target="_blank" title="Security, Compliance, and Governance for AI Solutions ('25)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_optimizing_foundation_models.pdf" target="_blank" title="Optimizing Foudnation Models ('25)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_essentials_of_prompt_engineering.pdf" target="_blank" title="Essentials of Prompt Engineering ('25)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_developing_gen_ai_solutions.pdf" target="_blank" title="Developing Generative Artificial Intelligence Solutions ('25)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_developing_ml_solutions.pdf" target="_blank" title="Developing Machine Learning Solutions ('25)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_responsible_ai_practices.pdf" target="_blank" title="Responsible Artificial Intelligence Practices ('25)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_exploring_ai_use_cases_and_applications.pdf" target="_blank" title="Exploring Artificial Intelligence Use Cases and Applications ('25)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_fundamentals_of_ai_and_ml.pdf" target="_blank" title="Fundamentals of Machine Learning and Artificial Intelligence ('25)">
            {{ svgs.cert() }}
        </a>
    </div>
</div>

<h3 class="text-2xl font-bold my-4">LinkedIn Learning</h3>

<div class="container flex flex-wrap mx-auto md:w-1/2 p-4 justify-center items-center">
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/aws_mls_c01_prep.pdf" target="_blank" title="AWS Machine Learning ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/devops_foundations_cicd.pdf" target="_blank" title="DevOps Foundations: CI/CD ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/learning_amazon_web_services_for_developers.pdf" target="_blank" title="Learning AWS for Developers ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/learning_docker.pdf" target="_blank" title="Docker ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/learning_docker_compose.pdf" target="_blank" title="Docker Compose ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/25_github_configuration_files_you_should_be_using.pdf" target="_blank" title="25 GitHub Configuration Files You Should Be Using ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/scrum_master.pdf" target="_blank" title="Scrum Master ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/supporting_allyship_and_antiracism_at_work.pdf" target="_blank" title="Supporting Allyship and Antiracism at Work ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/strategic_thinking.pdf" target="_blank" title="Strategic Thinking ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
</div>

<h3 class="text-2xl font-bold my-4">Techstrong Learning</h3>

<div class="container flex flex-wrap mx-auto md:w-1/2 p-4 justify-center items-center">
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/build_AI_native_foundation.pdf" target="_blank" title="AI-Native Foundations for Enterprise Apps ('24)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/future_of_AI_assisted_dev_and_code_qual_cert.pdf" target="_blank" title="Future of AI Assisted Development and Code Quality ('23)">
            {{ svgs.cert() }}
        </a>
    </div>
</div>

<h3 class="text-2xl font-bold my-4">Misc and Old</h3>

<div class="container flex flex-wrap mx-auto md:w-1/2 p-4 justify-center items-center">
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="{{ cdn_url }}/certificates/IBM_quantum_challenge_fall_2020.pdf" target="_blank" title="IBM - Quantum Challenge - Foundational ('20)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center">
        <a class="p-4" href="{{ cdn_url }}/certificates/scala_lang_prof.pdf" target="_blank" title="Lightbend Scala Language - Professional ('20)">
            {{ svgs.cert() }}
        </a>
    </div>
    <div class="flex flex-row justify-center align-middle">
        <a class="p-4" href="https://projecteuler.net/profile/Ulthran.png" target="_blank" title="Project Euler (Top 5%)">
            {{ svgs.cert() }}
        </a>
    </div>
</div>
{% endcall %}
{% endblock %}