{% extends 'base.html' %}
{% import 'macros.jinja' as macros %}
{% import 'svgs.jinja' as svgs %}

{% block body %}
{% call macros.hero(title = "Certifications") %}
<h3 class="text-2xl font-bold my-4">AI/ML</h3>

<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - AWS Machine Learning ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/aws_mls_c01_prep.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">Techstrong Learning - AI-Native Foundations for Enterprise Apps ('24)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/build_AI_native_foundation.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>

<h3 class="text-2xl font-bold my-4">DevOps and Cloud</h3>

<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - DevOps Foundations: CI/CD ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/devops_foundations_cicd.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - Learning AWS for Developers ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/learning_amazon_web_services_for_developers.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - Docker ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/learning_docker.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - Docker Compose ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/learning_docker_compose.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - 25 GitHub Configuration Files You Should Be Using ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/25_github_configuration_files_you_should_be_using.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>

<h3 class="text-2xl font-bold my-4">Software Skills</h3>

<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">Techstrong Learning - Future of AI Assisted Development and Code Quality ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/future_of_AI_assisted_dev_and_code_qual_cert.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">IBM - Quantum Challenge - Foundational ('20)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/IBM_quantum_challenge_fall_2020.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center">
    <p class="text-lg p-4">Lightbend Scala Language - Professional ('20)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/scala_lang_prof.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>

<h3 class="text-2xl font-bold my-4">Leadership and Management</h3>

<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - Scrum Master ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/scrum_master.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - Supporting Allyship and Antiracism at Work ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/supporting_allyship_and_antiracism_at_work.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
<div class="flex flex-row justify-center align-middle">
    <p class="text-lg p-4">LinkedIn Learning - Strategic Thinking ('23)</p>
    <a class="p-4" href="{{ cdn_url }}/certificates/strategic_thinking.pdf" target="_blank">
        {{ svgs.cert() }}
    </a>
</div>
{% endcall %}
{% endblock %}