{% extends 'base.html' %}

{% block head %}
<!-- Plotly -->
<script src="https://cdn.plot.ly/plotly-2.26.0.min.js" integrity="sha384-xuh4dD2xC9BZ4qOrUrLt8psbgevXF2v+K+FrXxV4MlJHnWKgnaKoh74vd/6Ik8uF" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
{% call macros.hero(title="Music", subtitle = "Music sounds good. I listen to it a lot and sometimes try to make it. Top 0.05% of Jacob Collier listeners on Spotify for 4 years running. I play piano. I've also made playlists of my new music finds every month since January 2022, follow my Spotify to listen.") %}
<a href="https://open.spotify.com/user/charlie_bushman?si=0dd732a8d6da46b6" target="_blank" class="flex items-center justify-center p-5">
    {{ svgs.spotify(class="w-12 h-12")}}
</a>

<div class="container flex flex-wrap mx-auto md:w-1/2 p-4 justify-center items-center">
{% for playlist in monthlies %}
    <div class="flex items-center justify-center p-2">
        <a href="{{ playlist['external_urls']['spotify'] }}" target="_blank" class="flex-col">
            <h2 class="text-xl font-bold">{{ playlist['name'] }}</h2>
            <img src="{{ playlist['images'][2]['url'] }}" class="w-20 h-20 rounded" alt="Missing Playlist Graphic">
        </a>
    </div>
{% endfor %}
</div>

Check out the Spotify stats visualizer I made (by logging in you'll only be giving temporary read access to your Spotify data):

N.B. The Spotify API for this is sandboxed (this app doesn't meet the requirements for unsandboxing), so you'll need me to add your account manually if you want to use the visualizer. Shoot me an email if you're interested with your full name and the email linked to your Spotify account.
{% endcall %}

{% if auth_url %}
<div class="flex items-center justify-center p-5">
    <a href="{{ auth_url }}" class="flex items-center justify-center p-5">
        AUTHORIZE SPOTIFY
    </a>
</div>
{% else %}
<div class="container mx-auto py-4 px-1 m-2 flex md:flex-row flex-col border border-black rounded">
    <div class="container mx-auto p-2 md:w-1/4 flex flex-col border border-gray-300 rounded justify-center items-center">
        <h2 class="text-2xl font-bold mb-4">{{ spotify_user['display_name'] }}</h2>
        <img src="{{ spotify_user['images'][1]['url'] }}" class="w-20 h-20 rounded-full" alt="Profile Picture"><br />

        <div class="flex flex-col items-left">
            <!-- Tab setup, one button should start with the "active" class and the corresponding tabcontent class should not have the "hidden" class -->
            <div class="tab border-solid rounded bg-white max-w-fit overflow-hidden">
                <button id="top-tracks-button" class="tablinks float-left hover:bg-gray-200 [&.active]:bg-gray-300 p-2 cursor-pointer" onclick="openView(event, 'Top Tracks')">Top Tracks</button>
                <button id="playlists-button" class="tablinks float-left hover:bg-gray-200 [&.active]:bg-gray-300 p-2 cursor-pointer" onclick="openView(event, 'Playlists')">Playlists</button>
            </div>
            
            <div id="Top Tracks" class="tabcontent p-4 border-solid bg-white hidden">
                <input type="radio" id="short_term" name="time_frame" value="short_term" onChange="display_spotify_data()">
                <label for="short_term">SHORT</label><br>
                <input type="radio" id="medium_term" name="time_frame" value="medium_term" onChange="display_spotify_data()" checked>
                <label for="medium_term">MEDIUM</label><br>
                <input type="radio" id="long_term" name="time_frame" value="long_term" onChange="display_spotify_data()">
                <label for="long_term">LONG</label><br>

                <label for="num_tracks">Number of tracks:</label>
                <input type="number" id="num_tracks" name="num_tracks" min="1" max="20" value="20" onChange="display_spotify_data()" class="border-gray-300 rounded">
            </div>

            <div id="Playlists" class="tabcontent p-4 border-solid bg-white hidden">
                <select id="playlist_select" name="playlist_select" onChange="display_spotify_data()"></select>
                <br /><br />
                <i class="text-sm">Tip: Click on categories in the legend to show/hide them.</i>
            </div>
        </div>
    </div>
    <div class="container mx-auto p-2 md:w-3/4 border border-gray-300 rounded">
        <div id="spotify-audio-features"><!-- Plotly chart will be drawn inside this DIV --></div>
    </div>
</div>

<script type="text/javascript">
    function display_spotify_data() {
        var top_tracks = document.getElementById("top-tracks-button").classList.contains("active");
        var playlists = document.getElementById("playlists-button").classList.contains("active");
        var spotify_data_url;

        if (playlists) {
            var playlist_name = document.getElementById("playlist_select").value;

            spotify_data_url = {{ url_for("spotify_data")|tojson }} + "?playlist_name=" + playlist_name;
        } else {
            var time_frame = document.querySelector('input[name="time_frame"]:checked').value;
            var num_tracks = document.getElementById("num_tracks").value;

            spotify_data_url = {{ url_for("spotify_data")|tojson }} + "?time_frame=" + time_frame + "&num_tracks=" + num_tracks;
        }
        console.log(spotify_data_url)

        fetch(spotify_data_url)
            .then((response) => {
                return response.json().then((data) => {
                    console.log(data);
                    var layout;

                    if (playlists) {
                        layout = {
                            font:{
                                family: 'sans-serif'
                            },
                            xaxis: {
                                title: "Runtime (mins)",
                                tickangle: -45
                            },
                            showlegend: true
                        };
                    } else {
                        layout = {
                            font:{
                                family: 'sans-serif'
                            },
                            xaxis: {
                                tickangle: -45
                            },
                            showlegend: false,
                            barcornerradius: 15,
                            barmode: 'stack'
                        };
                    }

                    Plotly.newPlot('spotify-audio-features', data, layout);
                }).catch((err) => {
                    console.log(err);
                }) 
            });
    }

    function openView(evt, viewName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(viewName).style.display = "block";
        evt.currentTarget.className += " active";

        if (viewName == "Playlists") {
            populate_playlists_dropdown();
        }

        display_spotify_data();
    }

    function populate_playlists_dropdown() {
        let selectTag = document.getElementById('playlist_select');

        const spotify_data_url = {{ url_for("spotify_data")|tojson }} + "?playlistsQ=True";
        fetch(spotify_data_url)
            .then((response) => {
                return response.json().then((data) => {
                    data.map( (pl, i) => {
                        let opt = document.createElement("option");
                        opt.value = pl;
                        opt.innerHTML = pl;
                        selectTag.append(opt);
                    });

                    display_spotify_data();
                }).catch((err) => {
                    console.log(err);
                }) 
            });
    }

    window.onload = function() {
        document.getElementById("top-tracks-button").click();
    }
</script>
{% endif %}
{% endblock %}