{% extends 'base.html' %}

{% block body %}
{% call macros.hero(title = "More on what I do for the PCMP", subtitle = "The Penn-CHOP Microbiome Program is comprised of many labs across Penn and CHOP, each of which has some connection to the study of human or animal microbiomes. The software needs of these labs range from high (a core of PhD bioinformatians who need performant and reliable big data pipelines as well as the flexibility to perform fine grained statistical analyses) to medium (mostly wet lab experiments that need follow up analysis with reliable and reproducible pipelines) to low (mostly wet lab and clinical work, lab members who like to live in spreadsheet land). It's my job as the developer for the PCMP (I'm the first and so far only pure developer for the program) to create, enhance, maintain, and fix software for the labs in the program.") %}{% endcall %}

<div class="container mx-auto flex flex-wrap flex-col mt-8 p-4 justify-center">
    
</div>
{% endblock %}