{% extends 'base.html' %}

{% block body %}
{% call macros.hero(title="Projects", subtitle = "I'm still working on this page... I'm not including work or school projects (see the blog for some of those). Check back later for a more complete view of my personal dev projects!") %}{% endcall %}

<!-- Project Cards -->
<div class="container mx-auto flex flex-col mt-8 p-4 items-center justify-center">
    {% for name, page in projects.items() %}
        {{ macros.project_card(main_link = url_for('projects', project=name), link_opts = "", img_link = cdn_url + "/images/" + page['image'], title = page['title'], body = page['subtitle'], tags = page['tags']) }}
    {% endfor %}
</div>
{% endblock %}