{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}" type='text/css' />
{% endblock %}

{% block body %}
<div style="text-decoration: underline; display: flex; justify-content: center; padding-top: 10px;">
    <a href="https://d20qcx1d083koe.cloudfront.net/resume.pdf" download>Download Re&#769;sume&#769;</a>
</div>
<div style="display: flex; justify-content: center; padding: 20px;">
    <embed src="https://d20qcx1d083koe.cloudfront.net/resume.pdf" width="90%" height="1150px"/>
</div>
{% endblock %}