{% extends 'base.html' %}

{% block body %}
{% call macros.hero(title = "Session Data", subtitle = "Here you can see all the session data saved by this site.") %}
<div class="flex flex-wrap items-center justify-center p-5 md:mx-10">
    <table style="border-collapse: collapse; border: 1px solid black; margin: 10px; padding: 10px;">
        {% for k, v in session.items() %}
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black; padding: 5px;">{{ k }}</td>
                <td style="border: 1px solid black; padding: 5px;">{{ v }}</td>
                <td style="border: 1px solid black; padding: 5px;">
                    <a href="{{ url_for('remove_session_data', key=k) }}" class="interest-button flex items-center bg-red-700 hover:bg-red-800 text-black text-lg font-bold font-mono py-2 px-4 rounded h-[50px] m-4">
                        Remove
                        <span class="ml-2">
                            {{ svgs.trashcan(class="w-6 h-6") }}
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endcall %}
{% endblock %}