{% extends 'base.html' %}

{% block body %}
<!-- Frisbee -->
{% call macros.hero(title = "Ultimate Frisbee", subtitle = "I grew up on the sidelines of my parents' summer league games. Now I play for a club team that placed 5th in the northeast this year and has been a national champ in the past. I also play for the same summer league team my parents did (37 years old!).") %}
<div class="flex flex-wrap items-center justify-between p-5 md:mx-10">
    <a href="https://www.buda.org/en_us/t/mob-3" target="_blank" title="M.O.B.: Hollaredutulliöh" class="px-4 py-2">
        {{ svgs.lightning(class="w-12 h-12") }}
    </a>

    <a href="https://twitter.com/BruisesUltimate" target="_blank" title="Bruises: Compote ('19)" class="px-4 py-2">
        {{ svgs.bruises(class="w-12 h-12") }}
    </a>

    <a href="https://twitter.com/LoS_Ultimate" target="_blank" title="League of Shadows: You either die a hero or live long enough to see yourself become the villain ('21)" class="px-4 py-2">
        {{ svgs.batman(class="w-12 h-12") }}
    </a>

    <a href="https://twitter.com/loco_ultimate" target="_blank" title="Loco: 1. 2. 3. 4. Loco. ('22)" class="px-4 py-2">
        {{ svgs.train(class="w-12 h-12") }}
    </a>

    <a href="https://twitter.com/WildCardult" target="_blank" title="Wild Card: Uno, you know ('23)" class="px-4 py-2">
        {{ svgs.wildcard(class="w-12 h-12") }}
    </a>
</div>
{% endcall %}

<!-- Soccer -->
{% call macros.hero(title = "Soccer", subtitle = "I played soccer until the end of high school and haven't had the time since. But I was awarded MVP of JV1 and JV2 my freshman year and MVDP (defensive player) of Varsity my senior year.") %}
<div class="flex flex-wrap items-center justify-center p-5 md:mx-10">
    {{ svgs.soccer(class="w-12 h-12") }}
</div>
{% endcall %}

<!-- Badminton -->
{% call macros.hero(title = "Badminton", subtitle = "I started playing badminton end of high school and trained 10 hours a week for a few months. Now I play for fun when I can.") %}
<div class="flex flex-wrap items-center justify-center p-5 md:mx-10">
    {{ svgs.badminton(class="w-12 h-12") }}
</div>
{% endcall %}

<!-- Chess -->
{% call macros.hero(title = "Chess", subtitle = "Winter break, 2019, I came home and was sick for a week. So I played chess the whole time. And I've kept playing since (and only sometimes getting better).") %}
<div class="flex flex-wrap items-center justify-between p-5 md:mx-10">
    <a href="https://www.chess.com/member/thwardenheimer" target="_blank" title="My Chess.com profile" class="px-4 py-2">
        {{ svgs.chess(class="w-12 h-12") }}
    </a>

    <div title="Tactical puzzles are my favorite" class="px-4 py-2">
        {{ svgs.puzzle() }}
        <p class="text-lg font-bold">{{ chess_stats['tactics_highest_rating'] }}</p>
    </div>

    <div title="Bullet" class="px-4 py-2">
        {{ svgs.bullet() }}
        <p class="text-lg font-bold">{{ chess_stats['bullet_last_rating'] }}</p>
    </div>

    <div title="Blitz" class="px-4 py-2">
        {{ svgs.lightning() }}
        <p class="text-lg font-bold">{{ chess_stats['blitz_last_rating'] }}</p>
    </div>

    <div title="Rapid" class="px-4 py-2">
        {{ svgs.rapid() }}
        <p class="text-lg font-bold">{{ chess_stats['rapid_last_rating'] }}</p>
    </div>

    <div title="Daily" class="px-4 py-2">
        {{ svgs.sun()}}
        <p class="text-lg font-bold">{{ chess_stats['daily_last_rating'] }}</p>
    </div>
</div>
{% endcall %}
{% endblock %}