{% extends 'base.html' %}

{% block body %}
{% call macros.hero(title = "\u00A7", subtitle = "") %}
<br /><br />
<button id="start-server" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="startServer()">
    Start Server
</button>
<p id="loading-message" class="text-lg text-center hidden">Starting server... Go try it out.</p>
{% endcall %}

<script>
  function startServer() {
    document.querySelector('#loading-message').classList.remove('hidden');
    document.querySelector('#start-server').disabled = true;

    fetch('https://f76p69rn87.execute-api.us-east-1.amazonaws.com/prod/start', {
      method: 'POST'
    })
    .then(response => response.text())
    .then(result => {
      console.log('Success:', result);
      //document.querySelector('#loading-message').textContent = 'Server started successfully! Wait a moment and then try to join.';
    })
    .catch(error => {
      console.error('Error:', error);
      //document.querySelector('#loading-message').textContent = 'Error starting server. Wait a moment and check to see if you can join anyways (this might be a temporary error). If not, let me know.';
    });
  }
</script>
{% endblock %}